---
layout: 2021/list
section: proposals
permalink: 2021/articulos/
title: Sección de artículos esLibre 2021
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Sección de artículos para es<span class="red">Libre</span> 2021</strong></h1>
  </div>
</div>
<hr class="my-4">


<ul id="list">
  {% for paper in site.pages %}
  {% if paper.path contains '2021/articulos' and paper.path contains '.md' and paper.category == 'papers' %}
  {% unless paper.path contains 'canceladas' %}
  <li><a href="/{{ paper.path | remove_first: ".md" }}">{{ paper.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
